html
{
	text-align: center;
}

body
{
	background-image: url("baekhyun.jpg");
	background-position: center;
}

h1
{
	font-family: chiller;
	font-size: 50px;
	color: white;
}

strong
{
	font-family: chiller;
	font-size: 50px;
	color: white;
}

img
{
	border: solid 3px;
	padding: 5px;
	width: 30%;
}

.answer
{
	color: white;
	font-size: 20px;
	font-family: comic sans MS;
}